{% extends "base.html" %}

{% block title %}
Iphone Shop | Producto
{% endblock title %}

{% block header_title %}Iphones{% endblock header_title %}

{% block header_subtitle %}{% endblock header_subtitle %}

{% block main %}
<p>
    <a href="{% url "comprar_iphone" %}">Hacer pedido</a>
</p>
<form action="">
    <input type="text" name="modelo" placeholder="Buscar modelo">
    <input type="submit" name="buscar">
</form>

{% if listado_iphones %}
<ul>
   
{% for iphone in listado_iphones %}
    <li> <a href="{% url "actualizar" iphone.id %}">| Actualizar |</a> {{iphone | safe}} <a href="{% url "eliminar" iphone.id %}">| Eliminar |</a><a href="{% url "detalle_iphone" iphone.id %}"> |Ver mas| </a></li>
{% endfor %}
</ul>   
{% else %}
    <p>No se encontro el producto que desea</p>
{% endif %}   
{% endblock main %}