{% extends "base.html" %}

{% block title %}
Iphone Shop | Productos
{% endblock title %}

{% block header_title %}Productos{% endblock header_title %}

{% block header_subtitle %}{% endblock header_subtitle %}

{% block main %}
<form action="">
    <input type="text" name="modelo" placeholder="Buscar modelo">
    <input type="submit" name="buscar">
</form>

{% if listado_iphones %}
<ul>
{% for iphone in listado_iphones %}
    <li>{{iphone}}</li>
{% endfor %}
</ul>   
{% else %}
    <p>No se encontro el producto que desea</p>
{% endif %}   
{% endblock main %}